/* Chrome, Safari, Edge, Opera */
.admin-create-product input::-webkit-outer-spin-button,
.admin-create-product input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
.admin-create-product input[type="number"] {
	-moz-appearance: textfield;
}
